.additional {
	&__container {
		background-color: #164038;
		border-radius: 4px;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 32px 64px;
	}

	&__info {
		max-width: 390px;
		width: 100%;
		padding-top: 48px;
	}

	&__subtitle {
		font-size: 21px;
	}

	&__title {
		font-size: 38px;
		margin-top: 14px;
		margin-bottom: 19px;
	}

	&__text {
		font-size: 16px;
		margin-bottom: 36px;
	}

	&__btn {
		background-color: #e1ffa0;
		border: 1px solid #e1ffa0;
		width: 130px;
		height: 50px;
		color: #0c2520;
	}
}
