.get-feedback {
	background-color: #0c2520;
	color: #fff;
	padding-top: 160px;
	padding-bottom: 100px;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 90px;

		&-left {
			width: 30%;
		}

		&-right {
			width: 50%;
		}
	}

	&__undertitle {
		font-size: 21px;
		margin-bottom: 15px;
	}

	&__title {
		font-size: 42px;
	}

	&__list-item {
		margin-bottom: 30px;
	}

	&__name {
		color: #e1ffa0;
		font-size: 20px;
		margin-bottom: 16px;
	}

	&____description {
		font-size: 16px;
	}
}

@media (max-width: 1160px) {
	.get-feedback {
		padding-top: 80px;
		padding-bottom: 50px;

		&__top {
			margin-bottom: 50px;
		}

		&__top-left {
			width: 40%;
		}
	}
}

@media (max-width: 700px) {
	.get-feedback {
		&__title {
			font-size: 36px;
		}

		&__top {
			flex-direction: column;
			gap: 30px;
			align-items: center;

			&-left,
			&-right {
				width: 100%;
			}
		}
	}
}

@media (max-width: 450px) {
	.get-feedback {
		&__title {
			font-size: 28px;
		}
    &__undertitle {
      font-size: 18px;
    }
	}
}
