.header {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
	height: 80px;
	display: flex;
	align-items: center;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__nav-main {
		display: flex;
		margin-left: 300px;
		font-weight: 400;
		line-height: 1.2;
		font-size: 14px;
		color: rgba(43, 44, 79, 1);
	}
	&__list {
		display: flex;
		gap: 50px;
		&-item {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
				text-decoration-color: #2b2c4f62;
			}
		}
	}
	&__action {
		display: flex;
		align-items: center;
		gap: 24px;
		font-weight: 400;
		line-height: 1.2;
		font-size: 14px;
		color: #2b2c4f;
		&-link {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
				text-decoration-color: #2b2c4f62;
			}
		}
	}
}
