.main {
  margin-top: 80px;
	background-image: url(../../public/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 845px;
	&__wrapper {
		max-width: 650px;
		width: 100%;
		color: #ffffff;
		padding-top: 146px;
	}
	&__title {
		font-size: 64px;
		line-height: 1.2;
	}
	&__subtitle {
		font-size: 17px;
		padding: 17px 0 65px;
	}
}
