.platform-info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: rgba(12, 37, 32, 1);

	&__name {
		font-size: 21px;
		line-height: 1.2;
	}

	&__text {
		font-size: 14px;
		line-height: 1.5;
		margin-top: 25px;
		margin-bottom: 40px;
	}

	&__link {
		color: #164038;
		font-size: 14px;
		line-height: 1.2;

		&:hover {
			text-decoration: underline;
			text-decoration-color: #16403889;
		}
	}
}
